<div>
    <table cellspacing="0" cellpadding="0" style="width:518.15pt; border-collapse:collapse;">
        <tbody>
            <tr style="height:28.3pt;">
                <td colspan="4" style="width:163.15pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Empresa: {{EMPRESA}}</span></p>
                </td>
                <td colspan="5" style="width:108.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Código:{{CODIGO}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td colspan="9" rowspan="2" style="width:210.9pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">SC-1-01</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;</span><span style="font-family:'Trebuchet MS';">MOVIMIENTO DE</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:'Trebuchet MS';">ACTIVOS FIJOS TANGIBLES</span></p>
                </td>
            </tr>
            <tr style="height:8pt;">
                <td colspan="9" style="width:278.35pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Direcci&oacute;n: {{DIRECCION}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:11.8pt;">
                <td colspan="9" style="width:278.35pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&Aacute;rea: {{AREA}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td colspan="9" style="width:210.9pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">C&oacute;digo:</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:16.85pt;">
                <td colspan="18" style="width:496.25pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Descripci&oacute;n: {{FUNDAMENTACION}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:17pt;">
                <td colspan="2" style="width:112.9pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span><span style="font-family:'Trebuchet MS';">{{INVENTARIO_NO}}</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="4" style="width:78.7pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Fecha: {{FECHA_DIA}}/{{FECHA_MES}}/{{FECHA_ANIO}}</span></p>
                </td>
                <td colspan="7" style="width:163.1pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A l q u i l e r</span></p>
                </td>
                <td colspan="5" style="width:120.55pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Depreciaci&oacute;n acumulada</span></p>
                </td>
            </tr>
            <tr style="height:18.2pt;">
                <td colspan="2" style="width:112.9pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Cuenta No.</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td style="width:14.9pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td colspan="2" style="width:35.55pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:14.25pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
                <td colspan="3" rowspan="2" style="width:72.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Tiempo</span></p>
                </td>
                <td colspan="4" style="width:83.35pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Devoluci&oacute;n</span></p>
                </td>
                <td colspan="5" rowspan="2" style="width:120.55pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:22pt;">
                <td colspan="2" rowspan="3" style="width:112.9pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Cuenta No.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td style="width:14.9pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="2" style="width:35.55pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td style="width:14.25pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td style="width:19.55pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td colspan="2" style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
            </tr>
            <tr style="height:12.2pt;">
                <td colspan="4" style="width:78.7pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Valor</span></p>
                </td>
                <td colspan="3" rowspan="2" style="width:72.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:19.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="2" rowspan="2" style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="5" rowspan="2" style="width:120.55pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:12.2pt;">
                <td colspan="4" style="width:78.7pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:16.15pt;">
                <td rowspan="3" style="width:26.05pt; height:16.15pt; margin-right:auto; margin-left:auto; writing-mode:tb-rl; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle; -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); overflow:hidden; transform:rotate(180deg); -webkit-transform:rotate(180deg);">
                    <div style="height:16.15pt; margin-right:auto; margin-left:auto; writing-mode:tb-rl; overflow:hidden;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Receptor</span></p>
                    </div>
                </td>
                <td colspan="11" style="width:307.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">{{ENTIDAD}}</span></p>
                </td>
                <td colspan="6" style="width:148.9pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">{{ENTIDAD_CI}}</span></p>
                </td>
            </tr>
            <tr style="height:16.15pt;">
                <td colspan="17" style="width:463.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Direcci&oacute;n: {{ENTIDAD_DIRECCION}}</span></p>
                </td>
            </tr>
            <tr style="height:16.15pt;">
                <td colspan="11" style="width:307.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Área: {{ENTIDAD_AREA}}</span></p>
                </td>
                <td colspan="6" style="width:148.9pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Firma: _________</span></p>
                </td>
            </tr>
            <tr style="height:15.1pt;">
                <td colspan="11" style="width:319.1pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">TIPO</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;</span><span style="font-family:'Trebuchet MS';">DE</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;</span><span style="font-family:'Trebuchet MS';">MOVIMIENTO</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td colspan="7" rowspan="2" style="width:170.15pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">FUNDAMENTACIÓN DE LA OPERACIÓN</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:137.2pt;">
                <td colspan="4" style="width:163.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.5pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Compra MB Nuevo</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Compra MB USO</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Traspaso Recibido</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Ajuste de inventario alta</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Ajuste de Inventario Alta</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Pérdida</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Traspaso Efectuado</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Préstamo temporal al trabajador trabajador</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Baja</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="2" style="width:28.45pt; border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.5pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="2" style="width:9.9pt; border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.5pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-left:14.3pt; margin-bottom:0pt; text-indent:-5.8pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="3" style="width:96.6pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__Traslado interno</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Ajuste de Inv</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Activo Ocioso</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__Enviado a reparar</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__Otro</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__Préstamo fuera de la Entidad</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Venta</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">__ Retiro</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:19.15pt;">
                <td colspan="18" style="width:496.25pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">I N F O R M E</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;</span><span style="font-family:'Trebuchet MS';">T E C N I C O:</span><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:12pt;">
                <td colspan="6" style="width:198.6pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Nombre: {{TECNICO_NOMBRE}}</span></p>
                </td>
                <td colspan="9" style="width:200.35pt; border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.5pt; padding-left:3.5pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Cargo: {{TECNICO_CARGO}}</span></p>
                </td>
                <td colspan="3" style="width:83.3pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Firma: _____</span></p>
                </td>
            </tr>
            <tr style="height:14.15pt;">
                <td colspan="4" rowspan="3" style="width:163.15pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Hecho: {{TECNICO_HECHO}}/{{TECNICO_HECHO_MES}}/{{TECNICO_HECHO_ANIO}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Nombre: {{TECNICO_NOMBRE}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Cargo: {{TECNICO_CARGO}}</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Firma: _________</span></p>
                </td>
                <td style="width:7.2pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td colspan="2" style="width:15.15pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:9pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.5pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
                <td colspan="7" style="width:183.45pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Aprobado: {{APROBADO_NOMBRE}}</span></p>
                </td>
                <td style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:19.5pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
            </tr>
            <tr style="height:14.15pt;">
                <td rowspan="2" style="width:7.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="2" rowspan="2" style="width:15.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:9pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="7" style="width:183.45pt; border-right-style:solid; border-right-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Cargo: {{APROBADO_CARGO}}</span></p>
                </td>
                <td rowspan="2" style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:19.5pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:36.35pt;">
                <td colspan="7" style="width:183.45pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Firma: ________________</span></p>
                </td>
            </tr>
            <tr style="height:14.15pt;">
                <td colspan="4" style="width:163.15pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Autorizado: {{AUTORIZADO_NOMBRE}}</span></p>
                </td>
                <td style="width:7.2pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td colspan="2" style="width:15.15pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:9pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
                <td colspan="7" style="width:183.45pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Transportador o Receptor: {{TRASPORTADOR_NOMBRE}}</span></p>
                </td>
                <td style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:19.5pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
            </tr>
            <tr style="height:14.15pt;">
                <td colspan="4" style="width:163.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Cargo:________________________</span></p>
                </td>
                <td rowspan="2" style="width:7.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="2" rowspan="2" style="width:15.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:9pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td colspan="7" rowspan="2" style="width:183.45pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Firma ____________________</span></p>
                </td>
                <td rowspan="2" style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
                <td rowspan="2" style="width:19.5pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:43.3pt;">
                <td colspan="4" style="width:163.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Firma:__________________</span></p>
                </td>
            </tr>
            <tr style="height:28.25pt;">
                <td colspan="4" style="width:163.15pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Anotado:</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td colspan="7" style="width:148.95pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">Comprobante de Operaciones No.__________________</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                </td>
                <td style="width:14.25pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">D</span></p>
                </td>
                <td style="width:21.35pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">M</span></p>
                </td>
                <td style="width:28.45pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.5pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">A</span></p>
                </td>
                <td colspan="4" style="width:85.1pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">No.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span style="font-family:'Trebuchet MS';">&nbsp;&nbsp;&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:0pt;">
                <td style="width:33.95pt;"><br></td>
                <td style="width:89.3pt;"><br></td>
                <td style="width:22.5pt;"><br></td>
                <td style="width:29.15pt;"><br></td>
                <td style="width:14.6pt;"><br></td>
                <td style="width:21.85pt;"><br></td>
                <td style="width:0.95pt;"><br></td>
                <td style="width:16.45pt;"><br></td>
                <td style="width:64.6pt;"><br></td>
                <td style="width:27.3pt;"><br></td>
                <td style="width:14.6pt;"><br></td>
                <td style="width:21.85pt;"><br></td>
                <td style="width:29.15pt;"><br></td>
                <td style="width:36.45pt;"><br></td>
                <td style="width:1.85pt;"><br></td>
                <td style="width:29.15pt;"><br></td>
                <td style="width:36.45pt;"><br></td>
                <td style="width:27.25pt;"><br></td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:150%;">&nbsp;</p>
</div>